.container{
    width: 104px;
    height: 104px;
    border-radius: 3px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="file"]{
    display: none;
}

.label-input{
    width: 104px;
    height: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F8F9FA;
    border: 2px dashed #6EA8FE;
}